<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="utf-8">
            <title>Wizard</title>
            <meta name="description" content="">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <meta name="robots" content="all,follow">
                        <!-- Bootstrap CSS-->
                        <!-- Using th:insert -->
                        <th:block th:insert="fragments/header :: headerBlock"></th:block>



                        </head>
                        <body>

                            <!-- intro end-->
                            <!-- navbar-->
                            <!-- Replaces this div with the navbar fragment -->
                            <div th:replace="fragments/nav :: navbar"></div>

                            <!-- about-->
                            <section id="about" class="text">


                                <div class="container-fluid" style="padding-top: 1%;">
                                    <div class="row" style="margin: auto; max-width: 80%;">
                                        <h3>Welcome to the System 21 Wizard/SCR release version +
                                            777.7777</h3>
                                    </div> 
                                    <div class="row" style="margin: auto; max-width: 80%;">
                                        <p>This Wizard is designed to help you create a Summary, Conclusions and
                                            Recommendations (SCR). Follow the prompts on the pages.</p>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="card col-sm-6 border border-white w3-teal" style="width: 30%;">
                                            <img width="200" height="200" viewBox="0 0 100 100" th:src="@{/img/add.svg}"  class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    
                                                    <p class="card-text"> Create New Summary, Conclusions and
                                                Recommendations (SCR)</p>
                                                    <a href="add.html" class="btn btn-primary">Create new SCR</a>
                                                </div>
                                        </div>

                                        <div class="card col-sm-6 border border-white w3-teal" style="width: 30%;">
                                            <img width="200" height="200" viewBox="0 0 100 100" th:src="@{/img/open.svg}" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    
                                                    <p class="card-text"> Open Existing Summary, Conclusions and
                                                        Recommendations (SCR)</p>
                                                    <a href="wizards" class="btn btn-primary">Open SCR</a>
                                                </div>
                                        </div>
                                    </div>

                                 
                                </div>




                            </section>
                            <!-- about end-->






                            <!-- JavaScript files-->

                            <!-- This will include your footer fragment -->
                            <div th:replace="fragments/footer :: footerSection"></div>

                        </body>




                        </html>
